html {
    height: 650px;
}
body {
    margin: 0;
    height: 100%;
     --ash-background: rgb(231, 228, 228);
     --sidebar-color: rgb(57, 155, 219);
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border: 1px solid green;
}

.main-content, 
.main-content div,
.container div {
    border: 1px solid rgb(233, 131, 15);
}
.sidebar {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: white;

    display: grid;
    justify-items: start;
}

.dashboard {
    font-size: 1.5rem;
    padding:0px 15px;
}

.menu ul {
    list-style: none;
    margin-bottom: 45px;
}
.menu ul li {
    margin-bottom: 15px;
}
.dashboard,
.home,
.profile, 
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
    display: flex;
    align-items: center;
    fill: currentColor;
    gap: 8px;
}
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px 20px;
}
.row-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 45vw;
    border: 2px solid var(--ash-background);
    background-color: var(--ash-background);
    border-radius: 15px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 0.9em;
}
input[type="search"]:focus {
    border: none;
    outline: 2px solid var(--sidebar-color);
}
.profile-link {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.profile-link a {
    text-decoration: none;
    color: black;
}
.row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.left-items {
    display:flex;
}
.greetings {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 3px;
    margin-left : 8px;
    align-self: center;
}
.user-name {
    font-weight: bold;
    
}

.greetings span {
    font-size: 0.7em;
}
.right-items {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    align-items: center;
    column-gap: 18px;
    justify-self: end;
}
.right-items button {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
    color: white;
}
.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: var(--ash-background);
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 15px;
}