@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Black.woff2') format('woff2'),
        url('fonts/CreatoDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tokyo';
    src: url('fonts/TokyoRegular.woff2') format('woff2'),
        url('fonts/TokyoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    height: 650px;
    font-family: 'Creato Display';
}
body {
    margin: 0;
    height: 100%;
     --ash-background: rgb(231, 228, 228);
     --sidebar-color: purple;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: white;

    display: grid;
    justify-items: start;
}

.dashboard {
    font-size: 1.5rem;
    padding:0px 15px;
}

.menu ul {
    list-style: none;
    margin-bottom: 45px;
}
.menu ul li {
    margin-bottom: 15px;
}
.dashboard,
.home,
.profile, 
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
    display: flex;
    align-items: center;
    fill: currentColor;
    gap: 8px;
}
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px 20px;
}
.row-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 45vw;
    border: 2px solid var(--ash-background);
    background-color: var(--ash-background);
    border-radius: 15px;
    margin-left: 10px;
    padding: 4px 10px;
}
input[type="search"]:focus {
    border: none;
    outline: 2px solid var(--sidebar-color);
}
.profile-link {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.profile-link a {
    text-decoration: none;
    color: black;
}
.row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.left-items {
    display:flex;
}
.greetings {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 3px;
    margin-left : 8px;
    align-self: center;
}

.greetings span {
    font-size: 0.7em;
}
.right-items {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    align-items: center;
    column-gap: 18px;
    justify-self: end;
}
.right-items button {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
    color: white;
}
.right-items button:hover {
    background-color: rgb(135, 52, 156);
}
.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: var(--ash-background);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    box-shadow: inset 0px 5px 3px -2px #A2ABB5;
    gap: 20px 15px;
}
.projects {
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 12px; 
}
.project-heading {
    grid-column: 1 / -1;
    align-self: end;
    font-size: 1.1em;
}
.article {
    box-shadow: inset 7px 0px 0px -2px gold, 0px 5px 9px -3px #A6ACB2;
}
.article,
.news,
.trends {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.announcements,
.trending {
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 12px;
}

.announcements > span, 
.trending > span {
    font-size: 1em;
    align-self: end;
}
.article-content {
    margin-bottom: 20px;
}
.article:hover {
    background-color: rgb(241, 237, 237);
}
.article-options {
    display: flex;
    justify-content: flex-end;
}
.article-options svg {
    margin-left: 15px;
}
.news-content,
.article-content {
    font-size: 0.8em;
    color: #3b3b3b;
}
.news-heading {
    font-size: 0.9em;
}
.trends {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.image-container-4, 
.image-container-1,
.image-container-2,
.image-container-3 {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.image-container-4 {
    background-color: yellow;
}
.image-container-2 {
    background-color: grey;
}
.image-container-3 {
    background-color: pink;
}
.image-container-1 {
    background-color: yellow;
}
.user-name-1,
.user-name-2,
.user-name-3,
.user-name-4 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 0.9em;
    column-gap: 10px;
}
.handle {
    font-size: 0.85em;
}
.project-name {
    color: #3b3b3b;
    font-size: 0.9em;
}